<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main id="main" class="wp-block-group">

	<!-- wp:html -->
	<section class="dch-404">
		<div class="dch-404__inner">
			<h1 class="dch-404__code" data-dch-anim="block">404</h1>
			<div class="dch-404__info" data-dch-anim="block">
				<h2 class="dch-404__title">Oops...</h2>
				<p class="dch-404__desc">We&rsquo;re sorry, but something went wrong.</p>
				<a class="dch-404__btn" href="/">Homepage</a>
			</div>
		</div>
	</section>
	<!-- /wp:html -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
